@model WebApplication1.ViewModels.ItemCreateViewModel

@{
    ViewBag.Title = "新增商品";
}

<h2>新增商品</h2>

@using (Html.BeginForm("Add","Item",FormMethod.Post,new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.newData.Name)
            </td>
            <td>
                @Html.TextBoxFor(model => model.newData.Name)
                @Html.ValidationMessageFor(model => model.newData.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.newData.Price)
            </td>
            <td>
                @Html.TextBoxFor(model => model.newData.Price)
                @Html.ValidationMessageFor(model => model.newData.Price)
            </td>
        </tr>
         <tr>
            <td>
                @Html.LabelFor(model => model.ItemImage)
            </td>
            <td>
                @Html.TextBoxFor(model => model.ItemImage,new { type="file"})
                @Html.ValidationMessageFor(model => model.ItemImage)
            </td>
        </tr>
    </table>
    <input type="submit" value="商品上架"/>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
