@model WebApplication1.ViewModels.ItemDetailViewModel

@{
    ViewBag.Title = "商品資料 - " + Model.Data.Name;
}

<h2>@Model.Data.Name</h2>
@Html.LabelFor(model => model.Data.Price):
@Html.TextBoxFor(model => model.Data.Price)
<br />
<img src="@Html.Encode(Url.Content("~/Upload/" + Model.Data.Name))" />
<br />
@if (User.Identity.IsAuthenticated)
{
    if (Model.InCart)
    {
        <text>已經於購物車中了，從購物車中</text>
        @Html.ActionLink("取出", "Pop", "Cart", new { Id = Model.Data.Id, toPage = "Item" }, null)
    }
    else
    {
        @Html.ActionLink("放入購物車中", "Put", "Cart", new { Id = Model.Data.Id, toPage = "Item" }, null)
    }
    if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("刪除商品", "Delete", new { Id = Model.Data.Id })
    }
}
else
{
    <text>要使用購物車請先</text>
    @Html.ActionLink("登入", "Login", "Members")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
